body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D99BD6;
    background-image: linear-gradient(180deg, transparent 50%, white 50%);
    background-size: 60px 60px;
    background-repeat: repeat;
    font-family: sans-serif;
}


section.bakery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.shop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: serif;
    font-weight: 500;
}

img.shoppic {
    padding-left: 60px;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-family: sans-serif;
    z-index: 10px;
    color: cornflowerblue;
    border: solid 1px pink;
    border-radius: 25px;
    padding: 15px;
    background-color: peachpuff;
}

h2 {
    color: cornflowerblue
}

 #cookiecount {
    text-align: center;
    font-weight: 600;
    font-size: larger;
    font-family: sans-serif;
    color: white;
}

button {
    align-items: center;
    border: none;
    background: none;
    cursor: pointer
}

button:hover {
    transform: translateY(-3px);
}

button:active {
    transform: translateY(-3px);
}

button::after {
    transform: translateY(-3px);
}


